/* Estructura de la web */
body{
    margin: 0 0 0 0;
}
#container{
    width: 100vw;
    height: 100vh;
}
#head{
    width: 100vw;
    height: 3vh;
}
#cuerpo{
 width: 100vw;
 height: 83vh;
}
#footer{
    background: #f2f2f2;
    width: 100vw;
    height: 12vh;
}
/* Estructura de la web */
/* head */
#div1{
    display:flex;
    float:left;
    justify-content: left;
}
#div2{
        display:flex;
        float: right;
        justify-content: right;
    }
/* head */ 

#input{
    border-radius: 3vw;
    width: 20vw;
    height: 3vh;
}
#Buscar{
    width: 7vw;
    height: 3vh;
}
a{
    margin: 10px;
}


#avatar{
    height: 30px;
    width: 50px;
}
#google{
    height: 15vh;
    display:flex;
    float:center;
    justify-content: center;
}
#botones{
    height: 3vw;
    display:flex;
    float:center;
    justify-content: center;
}
#botones2{
    height: 3vw;
    display: flex;
    float: center;
    justify-content: center;
}
#link{
    display: flex;
    float: center;
    justify-content: center;
}