table{
    border: 5px solid lightblue;
    box-shadow: 5px 5px darkgray;
}
th{
    background-color:darkgreen;
}
th,tr,td{
    border: 2px solid lightblue;
    text-align: center;
    width: 65%;
}

.celda{
  text-align: center;
  font-size: 20px;
}
.celda1{
    background-color: darkolivegreen;
}
.celda2{
    background-color: lightgreen;
}